<div class="preloader">
  <div class="anim pulse"><i class="ion-ios-bolt-outline"></i></div>
</div>
<div class="preloader-left"></div>
<div class="inline-menu-container">
  <span class="status">En constante capacitación...</span>
  <ul class="inline-menu">
    <li class="about menu-item">Perfil Profesional</li>
    <li class="portfolio menu-item">Proyectos realizados</li>
    <li class="blog menu-item">Proyectos propios</li>
    <li class="contact menu-item">Contacto</li>
    <li id="close" class="menu-item"><i class="ion-ios-close-empty"></i></li>
  </ul>
</div>
<section class="home">
  <div class="bgScroll"></div>
  <div class="overlay opacity7"></div>
  <div class="container">
    <!-- Perfil -->
    <div class="name-block">
      <div class="name-block-container">
        <h1><span>Hola, soy</span>Jorge Chafloque</h1>
        <h2>Ing. Sistemas & Programador FrontEnd</h2>
        <a target="_blank" href="../assets/images/CV_jchafloquem.pdf" class="btn btn-download">Descargar CV</a>
        <!-- Redes Sociales -->
        <ul class="social">
          <li>
            <a href="https://www.facebook.com/jchafloque/" target="_blank">
              <i class="ion-social-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/jchafloquem/" target="_blank">
              <i class="ion-social-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/jchafloquem/" target="_blank">
              <i class="ion-social-github"></i>
            </a>
          </li>
          <li>
            <a href="https://wa.me/51998429784" target="_blank">
              <i class="ion-social-whatsapp"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/jchafloquegis" target="_blank">
              <i class="ion-social-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Menu Bloques -->
    <div class="menu-blocks">
      <div class="about-block menu-block">
        <div class="about-block-container">
          <h2 class="about menu-item">Perfil Profesional</h2>
        </div>
      </div>
      <div class="portfolio-block  menu-block">
        <div class="portfolio-block-container">
          <h2 class="portfolio menu-item">Proyectos realizados</h2>
        </div>
      </div>
      <div class="blog-block  menu-block">
        <div class="blog-block-container">
          <h2 class="blog menu-item">Proyectos Propios</h2>
        </div>
      </div>
      <div class="contact-block  menu-block">
        <div class="contact-block-container">
          <h2 class="contact menu-item">Contacto</h2>
        </div>
      </div>
    </div>
    <div class="content-blocks about">
      <app-resumen></app-resumen>
    </div>
    <div class="content-blocks portfolio">
      <app-portafolio></app-portafolio>
    </div>
    <div class="content-blocks blog">
      <app-blog></app-blog>
    </div>
    <div class="content-blocks contact">
      <app-contacto></app-contacto>
    </div>
    <div class="content-blocks pop">
      <div id="close-pop" class="close-pop">
        Cerrar
        <i class="ion-ios-close-empty"></i>
      </div>
      <section class="content"></section>
    </div>
  </div>
</section>
