<section class="content">
  <div class="block-content">
      <h3 class="block-title">Proyectos</h3>
      <div class="row">
          <div class="col-md-12">
              <div class="filters">
                  <span>Proyectos :</span>
                  <ul id="filters">
                      <li class="active" data-filter="*">Todos</li>
                      <!-- <li data-filter=".artwork">Art Work</li>
                      <li data-filter=".webdesign">Web Design</li>
                      <li data-filter=".design">Design</li> -->
                  </ul>
              </div>
              <div class="portfolio-container row isotope" id="portfolio-container">

                  <!-- GeoVisor del Bono de reforzamiento -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                      <a href="https://devgeo.vivienda.gob.pe/enlaces/bonosreforzamientomodalidadregular.html" target="_blank">
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>GeoVisor Reforzamiento Sísmico</h2>
                                      <hr>
                                      <p>Detalles (Ingreso con Login)</p>
                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="../../assets/images/portfolio/reforzamiento.png" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- Fin -->
                  <!-- GeoVisor de reconstruccion -->
                  <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                    <a href="https://devgeo.vivienda.gob.pe/enlaces/visor_bfhreconstruccion.html" target="_blank">
                        <div class="portfolio-column">
                            <div class="portfolio-hover">
                                <div class="portfolio-content">
                                    <h2>GeoVisor Reconstrucción</h2>
                                    <hr>
                                    <p>Detalles (Ingreso con Login)</p>
                                </div>
                                <div class="portfolio-overlay"></div>
                            </div>
                            <img src="../../assets/images/portfolio/reconst.jpg" alt="">
                        </div>
                    </a>
                </div>
                <!-- Fin -->
                <!-- GeoVisor Modulos temporales -->
                <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                  <a href="https://devgeo.vivienda.gob.pe/enlaces/mtv_covid.html" target="_blank">
                      <div class="portfolio-column">
                          <div class="portfolio-hover">
                              <div class="portfolio-content">
                                  <h2>GeoVisor Modulos temporales de vivienda</h2>
                                  <hr>
                                  <p>Atencion al COVID-19</p>
                              </div>
                              <div class="portfolio-overlay"></div>
                          </div>
                          <img src="../../assets/images/portfolio/mtv.jpg" alt="">
                      </div>
                  </a>
              </div>
              <!-- Fin -->
                     <!-- GeoVisor Muni de San isidro -->
                     <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item artwork">
                      <a href="http://sic.munisanisidro.gob.pe/MSIGEOPORTAL" target="_blank">
                          <div class="portfolio-column">
                              <div class="portfolio-hover">
                                  <div class="portfolio-content">
                                      <h2>GeoVisor Municipalidad de San Isidro</h2>
                                      <hr>
                                      <p>Validar pase a producción</p>
                                  </div>
                                  <div class="portfolio-overlay"></div>
                              </div>
                              <img src="../../assets/images/portfolio/msi.jpg" alt="">
                          </div>
                      </a>
                  </div>
                  <!-- Fin -->

              </div>
          </div>
      </div>
  </div>
  <div class="row text-center">
      <div class="col-md-12 btn-email">
          <a class="btn lowercase">jchafloque.gis@gmail.com</a>
      </div>
  </div>
</section>

